<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>153927579829-rljjtj7p6eem1fe059c3gi7njh87nnu7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.153927579829-rljjtj7p6eem1fe059c3gi7njh87nnu7</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>153927579829-bkg02ja35ifmigrji4o1tuli93f74poq.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDWpD7GUJ2vjcU_ePUGPc35yXUOi6oXMJ8</string>
	<key>GCM_SENDER_ID</key>
	<string>153927579829</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ant2o.aliceblue</string>
	<key>PROJECT_ID</key>
	<string>alice-blue-7bda9</string>
	<key>STORAGE_BUCKET</key>
	<string>alice-blue-7bda9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:153927579829:ios:5d4d3b6e22cca0ea7e26fc</string>
</dict>
</plist>